In [8]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('Dados_Tratados.csv')

In [6]:
df.describe().round(2)

,Frequência no Consumo,Benefícios da Mentoria,Meta Melhora o Progresso,Variedade Melhora a Experiência,Satisfação com o Produto,Percepção da Experiência com o Produto,Indicaria o Produto
count,150.0,150.00,150.00,150.00,150.00,150.00,150.00
mean,3.3,4.03,4.16,4.47,3.90,3.97,3.99
std,1.3,0.94,0.89,0.77,0.93,0.83,0.93
min,1.0,1.00,1.00,2.00,1.00,2.00,1.00
25%,2.0,3.00,4.00,4.00,3.00,3.00,3.00
50%,3.0,4.00,4.00,5.00,4.00,4.00,4.00
75%,4.0,5.00,5.00,5.00,5.00,5.00,5.00
max,5.0,5.00,5.00,5.00,5.00,5.00,5.00

In [22]:
qualy = df.select_dtypes(exclude=[np.number])
for coluna in qualy.columns:
    resul = pd.DataFrame(qualy[coluna].value_counts(normalize=True).map(lambda x: '{:.2%}'.format(x)))
    newname = {'proportion': 'Proporção'}
    resul.rename(columns=newname, inplace=True)
    display(resul)
    print('\n' + '-'*30 + '\n')

          Proporção
Gênero
Feminino     56.00%
Masculino    44.00%

------------------------------

                Proporção
Idade
18-24 anos         45.33%
25-34 anos         36.67%
35-44 anos         15.33%
45 anos ou mais     2.67%

------------------------------

                   Proporção
Escolaridade
Ensino Superior       48.67%
Ensino Médio          38.67%
Pós-Graduação         12.00%
Ensino Fundamental     0.67%

------------------------------

              Proporção
Estado Civil
Solteiro(a)      72.00%
Casado(a)        23.33%
Outros            2.67%
Divorciado(a)     1.33%
Viúvo(a)          0.67%

------------------------------

                                  Proporção
Renda
Acima de R$ 1.212 até R$ 3.636,00    50.00%
Até R$ 1.212,00                      36.00%
Acima de R$ 3.636,00 até R$ 6.000    11.33%
Acima de R$ 6.000                     2.67%

------------------------------

                   Proporção
Primeira Compra
Antes da pandemia     52.67%
Durante a pandemia    26.67%
Depois da pandemia    12.67%
Ainda não comprei      8.00%

------------------------------

                                                   Proporção
Formato do Infoproduto
Vídeo: Vídeo aulas, mentorias, screencasts , cu...    60.67%
Texto: PDF e E-book                                   31.33%
Visual: Infográficos, figuras, página de vendas...     5.33%
Áudio: Áudiobook e podcast                             2.67%

------------------------------

                        Proporção
Área mais Consumida
Educação                   57.33%
Desenvolvimento Pessoal    24.00%
Saúde                      11.33%
Finanças                    7.33%

------------------------------

                            Proporção
Disposição Financeira
Entre R$ 50,00 e R$ 100,00.    39.33%
Acima de R$ 200,00             26.00%
Entre R$ 100,00 e R$ 200,00    22.67%
Menos de R$ 50,00              12.00%

------------------------------

                                                   Proporção
Influência na Compra
Conteúdo do infoproduto (tema/relevância)             26.00%
Avaliações e depoimentos de clientes                  22.00%
Recomendações de amigos/familiares                    17.33%
Qualidade da apresentação (vídeo, áudio, design...    15.33%
Conteúdo gratuito oferecido pelo produtor              9.33%
Preço                                                  8.67%
Garantia de devolução do dinheiro                      1.33%

------------------------------

                                                   Proporção
Primeiro Contato
Por meio das redes sociais, como Instagram, Tik...    38.67%
Recomendação de amigos ou colegas                     32.00%
Pesquisa em mecanismos de busca, como o Google        20.00%
Por meio de anúncios online, como no Facebook o...     9.33%

------------------------------

                                                   Proporção
Motivação para Compra
Aquisição de conhecimento específico                  29.33%
Preparação para exames, concursos ou certificações    16.67%
Desenvolvimento de habilidades técnicas               10.00%
Flexibilidade de horário de estudo                    10.00%
Mudar de Carreira (aprender uma nova profissão)        8.00%
Realização de objetivos de vida                        7.33%
Facilidade de aprendizado online                       7.33%
Ganhos financeiros                                     6.00%
Indicação de colegas ou amigos                         2.67%
Solução para um problema específico                    2.00%
Empreendedorismo ou criação de negócio próprio         0.67%

------------------------------

In [12]:
quanty = df.select_dtypes(exclude=[object])
quanty.corr().round(2)

,Frequência no Consumo,Benefícios da Mentoria,Meta Melhora o Progresso,Variedade Melhora a Experiência,Satisfação com o Produto,Percepção da Experiência com o Produto,Indicaria o Produto
Frequência no Consumo,1.00,0.28,0.11,0.25,0.46,0.39,0.35
Benefícios da Mentoria,0.28,1.00,0.38,0.32,0.36,0.33,0.37
Meta Melhora o Progresso,0.11,0.38,1.00,0.38,0.33,0.34,0.35
Variedade Melhora a Experiência,0.25,0.32,0.38,1.00,0.33,0.39,0.48
Satisfação com o Produto,0.46,0.36,0.33,0.33,1.00,0.76,0.66
Percepção da Experiência com o Produto,0.39,0.33,0.34,0.39,0.76,1.00,0.77
Indicaria o Produto,0.35,0.37,0.35,0.48,0.66,0.77,1.00